:root {
  --bgColor: #eacda3;
  --paleGray: #edeef0;
  --mintGreen: rgb(135, 220, 135);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bgColor); /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  width: 100%;
  height: 100vh;
  padding: 0.75em;
  font: 1em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  #app {
    width: 100%;
    max-width: 35em;
    margin: 6.25em auto 1.25em;
    padding: 2.5em 1.875em 4.375em;
    background-color: white;
    border-radius: 0.625em;
  }
}

#todo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5em;
  gap: 2.5%;

  h1 {
    flex: 3;
    font-size: 4em;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -0.1em;
    font-weight: 400;
  }

  .header-buttons {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4%;
  
    .actionBtn {
      max-height: 2.25em;

      &:hover {
        transform: scale(1.1);
        transition: 0.3s ease-in-out;
      }
    }
  }
}

#todo-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--paleGray);
  border-radius: 1.875em;
  margin-bottom: 1.5em;

  input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    width: 36rem;
    border-radius: 1.25em;
    padding: 0.75em;
    font-size: 1em;
  
    &:focus {
      background-color: black;
      color: white;
      font-weight: 500;
    }
  }

  .actionBtn {
    max-height: 2.25rem;
    border-radius: 0 1em 1em 0;

    &:hover {
      transform: scale(1.1);
      transition: 0.3s ease-in-out;
    }
  }
}

#todo-list li {
  position: relative;
  list-style: none;
  padding: 0.75em 0.5em 0.75em 3.125em;
  border-radius: 1em;
  user-select: none;
  cursor: pointer;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: anywhere;
  font-size: 1.1em;
  font-weight: 600;

  /* Prepend unchecked box to todo items */
  &::before {
    content: '';
    position: absolute;
    height: 1.75em;
    width: 1.75em;
    border-radius: 50%;
    background-image: url("assets/unchecked.png");
    background-size: cover;
    background-position: center;
    top: 0.6em;
    left: 0.75em;
  }

  &.checked {
    color: grey;
    font-style: italic;
    text-decoration: line-through;

    /* Change unchecked box to checked box when todo item is checked */
    &::before {
      background-image: url("assets/checked.png");
    }
  }

  .close {
    position: absolute;
    height: 2.5em;
    width: 2.5em;
    top: 0.25em;
    right: -0.5em;
    color: #555;
    font-size: 1.375em;
    font-weight: 600;
    text-align: center;

    &:hover {
      transform: scale(1.2);
      transition: 0.3s ease-in-out;
      color: rgb(135, 220, 135);
      font-weight: 800;
    }
  }
}